{% extends 'navbar.html' %}
{% load static %}

{% block content %}



<!-- <div class="col-lg-4 col-md-4 col-sm-6">
  <a href="{{city.image.url}}" class="fh5co-card-item image-popup">
    <figure>
      <div class="overlay"><i class="ti-plus"></i></div>

      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
       
        <div class="carousel-inner">
          {% for image in city.places.all %}
          <div class="carousel-item active">
            <img src="{{image.image.url}}" class="d-block w-100" alt="...">
          </div>
          {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </figure>
    <div class="fh5co-text">
      <h2>{{city.title}}</h2>
      <p>{{city.content}}</p>
    </div>
    </a>
    <a href="{% url 'city_details' pk=city.pk %}"><p><span class="btn btn-primary">More details</span></p></a>
    </div> -->





{% block trip %}
<div class="overlay">
  <div class="gtco-container">
    <div class="row">
      <div class="col-md-12 col-md-offset-0 text-left">
        

        <div class="row row-mt-15em">
          <div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
            <h1>Купите билеты в город {{city.title}}</h1>	
            {% for ticket in tickets_list %}
            {{ticket.category}}
            {% empty %}
            <h2>По заданым значениям билетов не нашлось.</h2>
            {% endfor %}
          </div>
          <div class="col-md-4 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
            <div class="form-wrap">
              <div class="tab">
                
                <div class="tab-content">
                  <div class="tab-content-inner active" data-content="signup">
                    <form action="{% url 'tickets_list' %}" method="get">
                      <div class="row form-group">
                        <div class="col-md-12">
                          <label for="activities">Откуда</label>
                          <select name="departure" id="activities" class="form-control" required>
                            {% for c in cities %}
                            <option value="{{c.id}}" name="departure">{{c.title}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                      <div class="row form-group">
                        <div class="col-md-12">
                          <label for="activities">Куда</label>
                          <select name="city" id="activities" class="form-control" readonly>
                            <option value="{{city.id}}" name="">{{city.title}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="row form-group">
                        <div class="col-md-12">
                          <label for="activities">Билет</label>
                          <select name="category" id="activities" class="form-control" name="ticket" required>
                            <option value="budget" name="category">Бюджет</option>
                            <option value="standart" name="category">Стандарт</option>
                            <option value="buisnes" name="category">Бизнес</option>
                          </select>
                        </div>
                      </div>
                      <div class="row form-group">
                        <div class="col-md-12">
                          <label for="date-start">Дата</label>
                          <input type="text" id="date-start" class="form-control" name="date" required>
                        </div>
                      </div>

                      <div class="row form-group">
                        <div class="col-md-12">
                          <input type="submit" class="btn btn-primary btn-block" value="Submit">
                        </div>
                      </div>
                    </form>	
                  </div>

                  
                </div>
              </div>
            </div>
          </div>
        </div>
            
        
      </div>
    </div>
  </div>
</div>

{% endblock %}





<div class="gtco-section">
  <div class="gtco-container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
        <h2>популярные места</h2>
      </div>
    </div>
    <div class="row">
      {% for popular in city.places.all %}

      <div class="col-lg-4 col-md-4 col-sm-6">
        <a href="{{popular.image.url}}" class="fh5co-card-item image-popup">
          <figure>
            <div class="overlay"><i class="ti-plus"></i></div>

            <img src="{{popular.image.url}}" alt="Image" class="img-responsive">
          </figure>
          </figure>
        
      
        </a>
        

        <button id="openModalBtn" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Launch static backdrop modal
        </button>

        <!-- Модальное окно Bootstrap -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <!-- Содержимое вашего модального окна -->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
              </div>
            </div>
          </div>
        </div>

      </div>

      {% endfor %}


      <div class="col-md-12">
        <div class="row row-cards">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Comments</h3>
              </div>
              <div class="list-group list-group-flush list-group-hoverable">
                {% for comment in comments %}
                <div class="list-group-item">
                  <div class="row align-items-center">
                    <div class="col-auto"><span class="badge bg-red"></span></div>
                    <div class="col-auto">
                      <a href="#">
                        <span class="avatar" style="background-image: url({{comment.owner.image.url}})"></span>
                      </a>
                    </div>
                    <div class="col text-truncate">
                      <p class="text-reset d-block">{{comment.owner.username}}</p>
                      <div class="d-block text-truncate mt-n1">{{comment.text}}</div>
                      {% if comment.created %}
                        <p class="text-muted">Опубликованно {{comment.created}}</p>
                      {% endif %}
                    </div>
                    
                    {% if comment.owner == request.user %}
      
                    <div class="col-auto">
                     
                        <a class="nav-link dropdown-toggle" href="#navbar-base" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false" >
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-dots" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M5 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                            <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                            <path d="M19 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                         </svg>
                        </a>
                        <div class="dropdown-menu">
                          <div class="dropdown-menu-columns">
                            <div class="dropdown-menu-column">
                              <a class="dropdown-item" href="{% url 'delete_comment' pk=comment.pk %}">
                              
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                  <path d="M4 7l16 0"></path>
                                  <path d="M10 11l0 6"></path>
                                  <path d="M14 11l0 6"></path>
                                  <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                                  <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                                </svg>
                                Удалить комментарий
                              </a>
                            </div>
                          </div>
                        </div>
                    
                    </div>
                    {% endif %}
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      
      {% if request.user.is_authenticated %}
      <form action="{% url 'write_comments' pk=city.pk %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label class="form-label">Ваш комментарий <span class="form-label-description"></span></label>
          <textarea class="form-control" name="text" rows="6" placeholder="Content.." style="height: 114px;"></textarea>
        </div>
        <div class="row form-group">
          <div class="col-md-12">
            <input type="submit" class="btn btn-primary btn-block" value="Submit">
          </div>
        </div>
      </form>
      {% else %}
      Необходимо авторизоваться
      {% endif %}         
      
      
      <style>
        .hidden {
          display: none;
      }
      
      .comment {
          margin-bottom: 20px;
      }
      
      textarea {
          width: 100%;
          height: 100px;
          margin-bottom: 10px;
      }
      </style>
      
      
      


      <div id='map' width="100%" style='height:400px'></div>


<script>

    mapboxgl.accessToken = "pk.eyJ1IjoiZGFzaWZ1ZSIsImEiOiJja2ttbTFuMGkyMzhwMnBxdG82aGl3dGRvIn0.tEADOWakMLngTWCv-gejNQ";
    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v10',
      center: [{{city.lot}}, {{city.lat}}],
      zoom: 9
    });

    var placesData = [
        {% for place in city.places.all %}
        {
            coordinates: [{{ place.lat }}, {{ place.lot }}],
            title: '{{ place.title|escapejs }}',
        },
        {% endfor %}
    ];


      var myModal = document.getElementById('myModal')
  var myInput = document.getElementById('myInput')

  myModal.addEventListener('shown.bs.modal', function () {
    myInput.focus()
  })

</script>






{% endblock %}



