{% extends 'base.html' %}

{% block trip %}
<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-left">
					

					<div class="row row-mt-15em">
						<div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
							<h1>Планируете поездку в любую точку мира?</h1>	
						</div>
						<div class="col-md-4 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
							<div class="form-wrap">
								<div class="tab">
									
									<div class="tab-content">
										<div class="tab-content-inner active" data-content="signup">
											<h3>Куда полетим?</h3>
											<form action="{% url 'tickets_list' %}" method="get">
												<div class="row form-group">
												  <div class="col-md-12">
													<label for="activities">Откуда</label>
													<select name="departure" id="activities" class="form-control">
													  {% for city in cities %}
													  <option value="{{city.id}}" name="departure">{{city.title}}</option>
													  {% endfor %}
													</select>
												  </div>
												</div>
												<div class="row form-group">
													<div class="col-md-12">
													  <label for="activities">Откуда</label>
													  <select name="city" id="activities" class="form-control">
														{% for city in cities %}
														<option value="{{city.id}}" name="departure">{{city.title}}</option>
														{% endfor %}
													  </select>
													</div>
												  </div>
												<div class="row form-group">
												  <div class="col-md-12">
													<label for="activities">Билет</label>
													<select name="category" id="activities" class="form-control" name="ticket" required>
													  <option value="budget" name="category">Бюджет</option>
													  <option value="standart" name="category">Стандарт</option>
													  <option value="buisnes" name="category">Бизнес</option>
													</select>
												  </div>
												</div>
												<div class="row form-group">
												  <div class="col-md-12">
													<label for="date-start">Дата</label>
													<input type="text" id="date-start" class="form-control" name="date" required>
												  </div>
												</div>
						  
												<div class="row form-group">
												  <div class="col-md-12">
													<input type="submit" class="btn btn-primary btn-block" value="Submit">
												  </div>
												</div>
											  </form>	
										</div>

										
									</div>
								</div>
							</div>
						</div>
					</div>
							
					
				</div>
			</div>
		</div>
{% endblock %}

{% block content %}	
	<div class="gtco-section">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>Популярные направления</h2>
					
				</div>
			</div>
			<div class="row">
				{% for country in countries %}

				<div class="col-lg-4 col-md-4 col-sm-6">
					<a href="{{country.image.url}}" class="fh5co-card-item image-popup">
						<figure>
							<div class="overlay"><i class="ti-plus"></i></div>

							<img src="{{country.image.url}}" alt="Image" class="img-responsive">
						</figure>
						<div class="fh5co-text">
							<h2>{{country.title}}</h2>
							<p>{{country.content}}</p>
							
						</div>
					</a>
					<a href="{% url 'country_details' pk=country.pk %}"><p><span class="btn btn-primary">More details</span></p></a>
				</div>

				{% endfor %}

				
					

				

			</div>
		</div>
	</div>

	
{% endblock %}