{% extends 'base.html' %}
{% load static %}

{% block trip %}
<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-left">
          

          <div class="row row-mt-15em">
						<div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
							<h1>Регистрация</h1>	
						</div>
						<div class="col-md-4 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
							<div class="form-wrap">
								<div class="tab">
									
									<div class="tab-content">
										<div class="tab-content-inner active" data-content="signup">
											<h3>Create a new account</h3>
                      
											<form class="card card-md" action="./" method="post" autocomplete="off" novalidate>
                        {% csrf_token %}
                        <div class="card-body">
                          <h2 class="card-title text-center mb-4"></h2>
                          <div class="mb-3">
                            <label class="form-label">Username</label>
                          <div class="input-group input-group-flat">
                              {{form.username}} {{form.username.errors}}
                            </div>
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Email</label>
                            <div class="input-group input-group-flat"></div>
                            {{form.email}} {{form.email.errors}}
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Password</label>
                            <div class="input-group input-group-flat">
                              {{form.password}} {{form.password.errors}}
                              <span class="input-group-text">
                                <a href="#" class="link-secondary" title="Show password" data-bs-toggle="tooltip"><!-- Download SVG icon from http://tabler-icons.io/i/eye -->
                                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" /></svg>
                                </a>
                              </span>
                            </div>
              
                            <label class="form-label">Confirm password</label>
                            <div class="input-group input-group-flat">
                              {{form.password2}}
                              <span class="input-group-text">
                                <a href="#" class="link-secondary" title="Show password" data-bs-toggle="tooltip"><!-- Download SVG icon from http://tabler-icons.io/i/eye -->
                                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" /></svg>
                                </a>
                              </span>
                            </div>
              
                            {{form.date_of_birth}}
                          </div>
                          <div class="form-footer">
                            <button type="submit" class="btn btn-primary w-100">Create new account</button>
                          </div>
                        </div>
                      </form>
                      <div class="text-center text-muted mt-3">
                        Already have account? <a href="{% url 'account:login' %}" tabindex="-1">Sign in</a>
                      </div>
										</div>

										
									</div>
								</div>
							</div>
						</div>
					</div>
        </div>
      </div>
    </div>

    
{% endblock %}

